<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Nets</name>
	<key>algornets</key>
	<description>Nets plugin  </description>
    <author>algor1</author>
    <authorEmail>plugins@oxwall.org</authorEmail>
	<authorUrl>http://www.skalfa.com</authorUrl>
	<developerKey>9eef8809bc7135e735a3d2b39e809b28</developerKey>
    <build>1</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
	<license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
